# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE
.vs/
.vscode/
.idea/

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# Asset Bundles
AssetBundles/

# OS
.DS_Store
Thumbs.db